.product-list{
    display: flex;
}
.left-column{
    width: 400px;
    padding: 12px;
    border-right: 1px solid gray;
}
.right-column{
    flex: 1 1 0;
    padding: 12px;
}
.pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    padding-bottom: 20px;
}
.loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}