.dialog{
    position: relative;
}
.icon-close{
    position: absolute;
    right: -85%;
    width: 40px;
}
.btn-header{
    color: aliceblue !important;
}
.title{
    text-decoration: none;
    color: aliceblue;
}