.product-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group-percent {
    display: flex;
    gap: 10px;
    background-color: #f5f4f6;
    padding: 20px;
    color: black;
    font-weight: bold;
    font-size: 26px;
    align-items: center;
}

.originalPrice {
    text-decoration: line-through;
    font-weight: 500;
    font-size: 20px;
}

.promotionPercent {
    font-weight: 500;
    font-size: 20px;
}